### DATA AGGREGATION & GROUP OPERATIONS

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

### Group by


here we group rows considering some same cols .. and then apply aggregate fnc like mean , sum , etc

In [25]:

data = {
    'key1': ['A', 'A', 'B', 'B', 'A', 'B', 'A'],
    'key2': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X'],
    'data1': [10, 20, 30, 40, 50, 90, 10]
}
df = pd.DataFrame(data)
print(df)

  key1 key2  data1
0    A    X     10
1    A    Y     20
2    B    X     30
3    B    Y     40
4    A    X     50
5    B    Y     90
6    A    X     10

In [26]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means


# key1  key2
# A     X       30.0   # mean of (10, 50)
#       Y       20.0   # mean of (20)
# B     X       30.0   # mean of (30)
#       Y       40.0   # mean of (40)
# Name: data1, dtype: float64

key1  key2
A     X       23.333333
      Y       20.000000
B     X       30.000000
      Y       65.000000
Name: data1, dtype: float64

In [27]:
sums1 = df['data1'].groupby([df['key2'], df['key1']]).sum()
sums2 = df['data1'].groupby([df['key1'], df['key2']]).sum()
print(df)
print(sums2)
print(sums1)

  key1 key2  data1
0    A    X     10
1    A    Y     20
2    B    X     30
3    B    Y     40
4    A    X     50
5    B    Y     90
6    A    X     10
key1  key2
A     X        70
      Y        20
B     X        30
      Y       130
Name: data1, dtype: int64
key2  key1
X     A        70
      B        30
Y     A        20
      B       130
Name: data1, dtype: int64

In [28]:
ansh = df['data1'].groupby([df['key1']]).sum()
print(df)
print(ansh)

  key1 key2  data1
0    A    X     10
1    A    Y     20
2    B    X     30
3    B    Y     40
4    A    X     50
5    B    Y     90
6    A    X     10
key1
A     90
B    160
Name: data1, dtype: int64

In [29]:
a = df['data1'].groupby([df['key1'], df['key2']]).count()
print(a)

key1  key2
A     X       3
      Y       1
B     X       1
      Y       2
Name: data1, dtype: int64

In [30]:
states = np.array(["OH","CA","CA","OH","OH","CA","OH"])
years = [2005,2005,2006,2005,2006,2005,2006]
df['data1'].groupby([states, years]).mean()

CA  2005    55.0
    2006    30.0
OH  2005    25.0
    2006    30.0
Name: data1, dtype: float64

In [31]:
df.groupby([df['key1'], df['key2']]).sum()

           data1
key1 key2
A    X        70
     Y        20
B    X        30
     Y       130

In [41]:
print(df.groupby([df['key1'], df['key2']])['data1'].sum())
print(df['data1'].groupby([df['key1'], df['key2']]).sum())

key1  key2
A     X        70
      Y        20
B     X        30
      Y       130
Name: data1, dtype: int64
key1  key2
A     X        70
      Y        20
B     X        30
      Y       130
Name: data1, dtype: int64