# Basic Python !

In [1]:
list = [10,20,30]

[i**2 for i in list]

[100, 400, 900]

In [2]:
names = [["John","Emily","Michael","Mary","Steven"],
         ["Maria","Juan","Javier","Natalia","Pilar"]]
print(names)

[['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]


#### We want to get names of all the people with two or more A's

In [3]:
new_names = []

for name_list in names:
    enough_as = [name for name in name_list if name.count("a")>=2]
    new_names.extend(enough_as)

print(new_names)

['Maria', 'Natalia']

#### WE want to write it in a single line !

In [4]:
result = [name for name_list in names for name in name_list if name.count("a") >= 2]
result

['Maria', 'Natalia']

## Functions

In [5]:
# normal functions 
def Add(x,y)-> int:
    return x+y

Add(4,5)

9

In [6]:
# functional Argument / Positional Arguments 

def my_function(x,y,z=1.5):
    if z > 1:
        return z*(x+y)
    else:
        return z/(x+y)

Scope

In [7]:
a = []
def func(x):
    a.append(x)
    b=[]
    print(a)

func(3)

print(b)

[3]

NameError: name 'b' is not defined

In [8]:
def func1(x):
    global b
    b = []
    a.append(x)
    b.append(x*2)
    print(a)

func1(4)
print(b)

[3, 4]
[8]

In [9]:
def f():
    a= 1
    b=2
    c=3
    return a,b,c

ans = f()
print(ans)
print(type(ans))

(1, 2, 3)
<class 'tuple'>

In [10]:
def return_dic():
    a = 1
    b = 2
    c = 3
    return {
        "a" :a,
        "b" : b,
        "c" : c
    }

ans = return_dic()
print(ans)
print(type(ans))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

### Regular Expression

In [11]:
states=["  Alabama  ","Georgia!","georgia","Georgia","FlOrida",
       "south carolina##","West virginia?"]

import re  # regular expression 

def clean_string(strings):
    result = []

    for val in strings:
        val = val.strip() # used to remove leading and trailing spaces
        # print(val)
        val = re.sub("[!#?]","",val) # replacing expressions like !,#,? with ""
        # print(val)
        val = val.title()
        result.append(val)
    
    print(result)

clean_string(states)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

#### lambda functions

In [12]:
equvi = lambda x : x**2

equvi(10)

100

In [13]:
lambda_func = lambda x,y: x*y

lambda_func(8,2)

16

In [14]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

some_list = [1,2,3,4,5]
apply_to_list(some_list, lambda x : x*2)

[2, 4, 6, 8, 10]

In [15]:
names = ["Ansh", "Yash", "Daksh", "Chaahat"]
names.sort(key=lambda x:len(x))

print(names)

['Ansh', 'Yash', 'Daksh', 'Chaahat']

## Error and Exception Handling

In [16]:
float("1.234")

1.234

In [17]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return type(x)

attempt_float("Ansh")

str